# Execute this command in your shell if you want to run this docker compose file on ARM architectures
# export DOCKER_DEFAULT_PLATFORM=linux/amd64
version: "3.8"
services:
  database:
    image: postgres:15
    # A default Docker installation runs containers with root privileges. If your Container runtime
    # is configured to run without root prigilegesu ncomment this option to solve 'access denied' problems.
    #privileged: true
    # Uncomment this option if you want to run this docker compose file on ARM architectures
    # platform: linux/amd64
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
    networks:
      - syson
  app:
    image: "${IMAGE_TAG:-eclipsesyson/syson:v2025.10.0}"
    # A default Docker installation runs containers with root privileges. If your Container runtime
    # is configured to run without root prigilegesu ncomment this option to solve 'access denied' problems.
    #privileged: true
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://database/postgres
      SPRING_DATASOURCE_USERNAME: username
      SPRING_DATASOURCE_PASSWORD: password
      SIRIUS_COMPONENTS_CORS_ALLOWEDORIGINPATTERNS: "*"
      SERVER_PORT: 8080
    depends_on:
      - database
    networks:
      - syson
networks:
  syson:
