<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>github</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
          <id>github-sirius-web</id>
          <name>Sirius Web - Maven Packages</name>
          <url>https://maven.pkg.github.com/eclipse-sirius/sirius-web</url>
        </repository>
        <repository>
          <id>github-sirius-emfjson</id>
          <name>Sirius EMF JSON - Maven Packages</name>
          <url>https://maven.pkg.github.com/eclipse-sirius/sirius-emf-json</url>
        </repository>
        <repository>
          <id>github-syson</id>
          <name>SysON - Maven Packages</name>
          <url>https://maven.pkg.github.com/eclipse-syson/syson</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>github-sirius-web</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
    <server>
      <id>github-sirius-emfjson</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
    <server>
      <id>github</id>
      <configuration>
      <httpHeaders>
        <property>
        <name>Authorization</name>
        <value>${env.PASSWORD}</value>
        </property>
      </httpHeaders>
      </configuration>
    </server>
  </servers>
</settings>
