<footer class="footer">
  <div class="footer-container">
      <p><a href="http://www.eclipse.org/"  target="_blank"><img width="200" src="https://www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-foundation-white-orange.svg" alt="Eclipse Foundation logo"></a></p>
      <p id="copyright">Copyright © Eclipse Foundation, Inc.<br>All Rights Reserved.</p>
  </div>

  <div class="footer-container">
      <h6>Eclipse Foundation</h6>
      <ul>
          <li><a href="http://www.eclipse.org/legal/privacy.php" target="_blank">Privacy Policy</a></li>
          <li><a href="http://eclipse.org/" target="_blank">Eclipse</a></li>
          <li><a href="http://www.eclipse.org/legal/termsofuse.php" target="_blank">Terms of Use</a></li>
          <li><a href="http://www.eclipse.org/legal/copyright.php" target="_blank">Copyright Agent</a></li>
          <li><a href="http://www.eclipse.org/legal/" target="_blank">Legal</a></li>
          <li><a href="http://www.eclipse.org/org/foundation/contact.php" target="_blank"> Contact Us</a></li>
      </ul>
  </div>

  <div class="footer-container">
      <h6>Project Links</h6>
      <ul>
          <li><a href="https://projects.eclipse.org/projects/modeling.syson" target="_blank">About this project</a></li>
          <li><a href="https://github.com/eclipse-syson/syson" target="_blank">Source Code</a></li>
          <li><a href="https://github.com/eclipse-syson/syson/discussions" target="_blank">Discussion</a></li>           
      </ul>
  </div>
</footer>