<main class="article">
{{> toolbar}}
  <div class="content">
<div class="spacer"></div>
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else}}
{{> article}}
<div class="spacer"></div>
{{> toc}}
{{/if}}
  </div>
</main>
